[submodule "modules/oi"]
	path = modules/oi
	url = https://github.com/janjaapbos/oi.git
[submodule "modules/nanoservice"]
	path = modules/nanoservice
	url = https://github.com/janjaapbos/nanoservice.git
[submodule "modules/apscheduler"]
	path = modules/apscheduler
	url = https://github.com/janjaapbos/apscheduler.git
